/* Удалите или закомментируйте этот блок отладки */
/*
* {
    outline: 1px solid red;
}
*/
/* Общие стили */

@font-face {
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	src:url('https://kristy98755.github.io/startpage/CenturyGothic.woff')format('woff'); 

}

@font-face {
	font-family: 'Century Gothic';
	font-weight: bold;
    font-style: normal;
    src:url('https://kristy98755.github.io/startpage/CenturyGothic-Bold.woff')format('woff');

}

@font-face {
    font-family: 'Century Gothic';
	font-weight: bold;
    font-style: italic;
    src:url('https://kristy98755.github.io/startpage/CenturyGothic-BoldItalic.woff')format('woff');

}

@font-face {
    font-family: 'Century Gothic';
	font-weight: normal;
    font-style: italic;
    src:url('https://kristy98755.github.io/startpage/CenturyGothic-Italic.woff')format('woff');

}

@font-face {
    font-family: 'Palatino Linotype';
	font-weight: normal;
    font-style: normal;
    src:url('https://kristy98755.github.io/startpage/PalatinoLinotype.woff')format('woff'); 

}

@font-face {
    font-family: 'Palatino Linotype';
	font-weight: bold;
    font-style: normal;
    src:url('https://kristy98755.github.io/startpage/PalatinoLinotypeBold.woff')format('woff'); 

}


body {
    margin: 0;
    font-family: 'Century Gothic';
}

.zagolovok {
	justify-content: center;
    align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
    width: 100%;
    background: url('https://kristy98755.github.io/startpage/repeatable.png');
    height: auto;
	white-space: nowrap;
	position: relative;
    background-repeat: repeat;
    font-family: 'Palatino Linotype';
    font-size: calc(2vw + 2vh + 5vmax); 
	font-weight: bold;
	vertical-align: middle;
    text-shadow: -2px -2px 0 #DDD, 2px -2px 0 #DDD, -2px 2px 0 #DDD, 2px 2px 0 #DDD;
    overflow: hidden;
}

/* Стили для тулбара */
.toolbar {
    position: sticky;
    display: flex;
    justify-content: space-between; /* Добавлено для размещения элементов */
    align-items: center; /* Центрирование по вертикали */
	text-align: center;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #d0d048;
    padding: 3px;
    box-sizing: border-box;
	font-size: calc(2vw + 2vh + 1vmin);
}

.menu {
    display: flex;
    align-items: center;
}

.burger {
	position: absolute;
	left: 0;
    margin-left: 10px; /* Отступ от левого края */
}


/* Стили для меню */
.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    cursor: pointer;
    width: 60px;
    height: 50px;
    background: transparent;
    border: none;
    position: relative;
	z-index: 99;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 10px;
}

.burger::before {
    top: 0;
    box-shadow: 0 22px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked + .burger::before {
    top: 22px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked + .burger::after {
    bottom: 22px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #a7a71d;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .3s;
    width: 100%;
}

.menu-item {
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    background: rgba(255,255,255,.2);
}

.burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
}
