/* Удалите или закомментируйте этот блок отладки */
/*
* {
    outline: 1px solid red;
}
*/
/* Общие стили */

@font-face {
	font-family: 'Century Gothic';
	font-weight: normal;
	font-style: normal;
	src:url('https://kristy98755.github.io/startpage/CenturyGothic.woff')format('woff'); 

}

@font-face {
	font-family: 'Century Gothic';
	font-weight: bold;
    font-style: normal;
    src:url('https://kristy98755.github.io/startpage/CenturyGothic-Bold.woff')format('woff');

}

@font-face {
    font-family: 'Century Gothic';
	font-weight: bold;
    font-style: italic;
    src:url('https://kristy98755.github.io/startpage/CenturyGothic-BoldItalic.woff')format('woff');

}

@font-face {
    font-family: 'Century Gothic';
	font-weight: normal;
    font-style: italic;
    src:url('https://kristy98755.github.io/startpage/CenturyGothic-Italic.woff')format('woff');

}

@font-face {
    font-family: 'Palatino Linotype';
	font-weight: normal;
    font-style: normal;
    src:url('https://kristy98755.github.io/startpage/PalatinoLinotype.woff')format('woff'); 

}

@font-face {
    font-family: 'Palatino Linotype';
	font-weight: bold;
    font-style: normal;
    src:url('https://kristy98755.github.io/startpage/PalatinoLinotypeBold.woff')format('woff'); 

}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    font-family: 'Century Gothic';
}

.zagolovok {
	justify-content: center;
    align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
    width: 100%;
    background: url('https://kristy98755.github.io/startpage/repeatable.png');
    height: auto;
	white-space: nowrap;
	position: relative;
    background-repeat: repeat;
    font-family: 'Palatino Linotype';
    font-size: calc(2vw + 2vh + 5vmax); 
	font-weight: bold;
	vertical-align: middle;
    text-shadow: -2px -2px 0 #DDD, 2px -2px 0 #DDD, -2px 2px 0 #DDD, 2px 2px 0 #DDD;
    overflow: hidden;
}

/* Стили для тулбара */
.toolbar {
    position: sticky;
    display: flex;
    justify-content: space-between; /* Добавлено для размещения элементов */
    align-items: center; /* Центрирование по вертикали */
	text-align: center;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #d0d048;
    padding: 3px;
    box-sizing: border-box;
	font-size: calc(3vw + 2vh + 1.2vmin);
}

.menu {
    display: flex;
    align-items: center;
}

.burger {
	position: absolute;
	left: 0;
    margin-left: 10px; /* Отступ от левого края */
}


/* Стили для меню */
.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    cursor: pointer;
    width: 60px;
    height: 50px;
    background: transparent;
    border: none;
    position: relative;
	z-index: 99;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 10px;
}

.burger::before {
    top: 0;
    box-shadow: 0 22px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked + .burger::before {
    top: 22px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked + .burger::after {
    bottom: 22px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.hidden-items {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    margin: 0;
    background: #a7a71d;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .7s;
    width: 100%;
	font-size: calc(2vw + 2vh + 1vmin);
	flex-direction: column;
	text-decoration:none;
}

.plitka {
    color: black;
    text-align: left;
	font-size: calc(2vw + 2vh + 1vmin);
    display: flex; 
    box-sizing: border-box;
    cursor: pointer;
	padding: 20px;
	padding-left: 50px;
    position: relative; 
	border-bottom: 2px solid black;
	text-decoration:none;
	
}
.plitka-very-first {
    color: black;
    text-align: left;
	font-size: calc(2vw + 2vh + 1vmin);
    display: flex; 
    box-sizing: border-box;
    cursor: pointer;
	padding: 20px;
	padding-left: 50px;
    position: relative; 
	border-bottom: 2px solid black;
	text-decoration:none;
	margin-top: 70px;
}

.catalog {
	/* Это просто триггер для нажатия */
	
}

.active {
    background-color: #a7a71d;
    text-decoration: underline;
}


.burger-checkbox:checked ~ .hidden-items {
    transform: translateX(0);
}

.arrow {
    position: relative;
    cursor: pointer;
    margin: auto 20px;
    width: 66px;
    height: 30px;
}
.arrow-left {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 0;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}
.arrow-left:after {
    content: "";
    background-color: black;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
 
.arrow-right {
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 26px;
    width: 40px;
    height: 10px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}
.arrow-right:after {
    content: "";
    background-color: black;
    width: 40px;
    height: 10px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}
.open .arrow-left:after {
    transform-origin: center center;
    transform: rotate(-70deg);
}
.open .arrow-right:after {
    transform-origin: center center;
    transform: rotate(70deg);
}

.submenu1 {
	display:flex;
	transition: 0.5s ease-out;
	max-height: 0;
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: #777700;
    z-index: 12;
	border-bottom: 0;
	max-height:0;
	overflow:hidden;

}
.submenu1.visible {
    display: flex;
	transition: 0.5s ease-out;
	max-height: calc((2vw + 2vh + 1vmin + 40px + 2px) * 9 + 3px);
    flex-direction: column;
    width: 100%;
    position: relative;
    background-color: #777700;
    z-index: 12;
	border-bottom: 2px solid black;
}

