a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0;
    font-family: Century Gothic;
}

.arrow {
	position: relative;
	cursor: pointer;
	margin: 20px;
	width: 66px;
	height: 30px;
}
.arrow-left {
	position: absolute;
	background-color: transparent;
	top: 10px;
	left: 0;
	width: 40px;
	height: 10px;
	display: block;
	transform: rotate(35deg);
	float: right;
	border-radius: 2px;
}
.arrow-left:after {
	content: "";
	background-color: #337AB7;
	width: 40px;
	height: 10px;
	display: block;
	float: right;
	border-radius: 6px 10px 10px 6px;
	transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
	z-index: -1;
}
.arrow-right {
	position: absolute;
	background-color: transparent;
	top: 10px;
	left: 26px;
	width: 40px;
	height: 10px;
	display: block;
	transform: rotate(-35deg);
	float: right;
	border-radius: 2px;
}
.arrow-right:after {
	content: "";
	background-color: #337AB7;
	width: 40px;
	height: 10px;
	display: block;
	float: right;
	border-radius: 10px 6px 6px 10px;
	transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
	z-index: -1;
}
.open .arrow-left:after {
	transform-origin: center center;
	transform: rotate(-70deg);
}
.open .arrow-right:after {
	transform-origin: center center;
	transform: rotate(70deg);
}

.zagolovok {
    width: 100%;
    background: url('https://kristy98755.github.io/startpage/repeatable.png');
    height: auto;
    white-space: nowrap;
    position: relative;
    background-repeat: repeat-x;
    font-family: Palatino Linotype;
    font-size: calc(2vw + 2vh + 2vmin);
    text-shadow: -1px -1px 0 #DDD, 1px -1px 0 #DDD, -1px 1px 0 #DDD, 1px 1px 0 #DDD;
    overflow: hidden;
 
}

.toolbar {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    z-index: 10;
    width: 100%; /* Добавлено для гарантированной ширины */
	background-color: #d0d048;
    flex: 1 1 20%; 
    font-size: calc(1vw + 2vh + 1vmin);  
    text-align: center;
    justify-content: center;
    padding: 3px; 
    box-sizing: border-box;
    min-width: 100px; 
    cursor: pointer;

}